<div class="container-fluid body">
         
        <div class="d-flex">
            <button type="button" (click)="clickAddEmployee()" data-toggle="modal" data-target="#exampleModal" class="btn btn-success b1">Add Employee</button>
        </div>

  <div class="card-body">
    <img src="https://media.istockphoto.com/photos/portrait-of-cheerful-young-brunette-man-typing-on-laptop-surfing-the-picture-id1194574057?k=20&m=1194574057&s=612x612&w=0&h=yaQgaw8YXSL-euVXFB13en9nlFfjqK5rIHH7CNenk_M=" alt="" class="backg">
    <h1 class="job">Enter<br>Employee<br>Details</h1>
    <p class="role">Explore all the most exciting job roles based on your interest<br> and study major</p>
    <!-- <img src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png" alt="" class="java"> -->
 
  </div>

</div>

   <!-- <div>
     <h1 class="employee">Employee</h1>
   </div> -->


<!-- <table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Emplyee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let row of employeeData">
        <td>{{row.id}}</td>
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.email}}</td>
        <td>{{row.mobile}}</td>
        <td>{{row.salary}}</td>
        <td>
              <button  (click)= "onEdit(row)" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-info">Edit</button>
              <button (click)= "deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
          </td>
        </tr>
      </tbody>
      </table> -->


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="Formvalue">
                <div class="form-group">
                  <label for="exampleInputEmail1">First Name</label>
                  <input type="text" formControlName="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Last Name</label>
                  <input type="text" formControlName="lastname" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email ID</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                    <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Salary</label>
                    <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" *ngIf= "showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf= "showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary" >update</button>
        </div>
      </div>
    </div>
  </div>

