.form1{
    width: 350px;
    box-shadow: 6px 10px #8d8c8d;
    /* background-image: linear-gradient(to right, red , yellow); */
     /* background-image: linear-gradient(to bottom right, rgb(140, 0, 255), yellow); */
    /* background-image: linear-gradient(to bottom right, rgb(37, 232, 147), rgb(191, 9, 179));  */
    background-image: linear-gradient(to bottom right, rgb(111, 56, 252), rgb(248, 56, 107)); 
    padding: 30px;
    box-shadow: 5px 5px solid black;
    border-radius: 4px;
    margin-left: 550px;
    margin-top: 5pc;
    height: 380px;
}
.write{
    color: white;
    font-size: 20px;
}
.form-control{
    height: 34px;
    border-radius: 3px;
}
.signup{
    margin-left: 100px;
    color: white;
    font-size: 25px;
    font-weight: 800;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
}
.change3{
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(214, 210, 210);
}
.change4{
    margin-top: -40px;
    margin-left: 166px;
    color: rgb(27, 18, 108);
    font-weight: 600;
    cursor: pointer;
}
.btn{
    margin-left: 70px;
    margin-top: 5px;
    width: 130px;
}