<div class="container-fluid body">
  <!-- <div class="body"> -->
<br>
<br>
<br>
<div class=" last"></div>

<h1 class="employee">Employee</h1>
<h1 class="manage">Management System</h1>
<hr class="hr">

<br><br>

<div>
  <img src="https://media.istockphoto.com/photos/positive-cheerful-young-caucasian-woman-wearing-white-casual-tshirt-picture-id968003448?k=20&m=968003448&s=612x612&w=0&h=rvVlleUQX2H5VvWa_zyZN2rdx8XRwJKUqromLY4r7Wk=" alt="" class="woman">
  <h3 class="path">Choose Your Job Role</h3>
  <p class="lorem">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
     when an unknown printer took a galley of type and scrambled<br> it to make a type specimen book. It has survived not only five centuries,<br>
     but also the leap into electronic typesetting, remaining essentially<br> unchanged. It was popularised in the 1960s with the release of Letraset sheets<br>
     
      containing Lorem Ipsum passages, and more recently with desktop<br> publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
     <p class="ipsum">Consectetur adipiscing elit. Proin porttitor congue augue, a placerat nisl.<br> Suspendisse blandit leo id nibh lobortis, a luctus
       risus interdum. Nulla consequat<br> non quam id ornare. Sed vitae vulputate metus.</p>
</div>
<br>
<div class="flex">
  <div class="card f-card comon" style="width: 20rem;">
    <img src="https://i.pinimg.com/originals/74/13/eb/7413eb389b7360e1c6f96a8114995989.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">UI UX Developer</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card s-card comon" style="width: 20rem;">
    <img src="https://www.nicepng.com/png/detail/222-2229500_html5-vector-javascript-html-css-javascript-bootstrap.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Front End Developer</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card s-card comon" style="width: 20rem;">
    <img src="https://img.freepik.com/premium-vector/video-editing-logo-premium-vector_652297-75.jpg?w=2000" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Video Editing</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>



<div class="flex">
  <div class="card f-card comon" style="width: 20rem;">
    <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/131298548/original/61d8e9caba7a546d4725e0db7c66a12c1743d81d/can-work-on-java-backend-projects-or-front-end.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">JAVA Developer</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card s-card comon" style="width: 20rem;">
    <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/39066/optimized_large_thumb_stage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Digital Marketing</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card s-card comon" style="width: 20rem;">
    <img src="https://iconape.com/wp-content/files/bb/89628/svg/php.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">PHP developer</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<br><br>

<h2 class="location">Job Locations</h2>
<div class="city">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121454.16138327066!2d79.53414644347052!3d17.95813639373061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3
m3!1m2!1s0x3a33450bd75e4be7%3A0x9306909c277bc137!2sWarangal%2C%20Telangana!5e0!3m2!1sen!2sin!4v1659250993731!5m2!1sen!2sin" width="600" height="450" style="border:0;"
 allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map1"></iframe>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243208.17099296628!2d83.12250464246185!3d17.73862250374061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3
m3!1m2!1s0x3a39431389e6973f%3A0x92d9c20395498468!2sVisakhapatnam%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1659250455181!5m2!1sen!2sin" width="600" height="450"
 style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map2"></iframe>
</div>
</div>
<footer class="container-fluid footer">
  <div class="f1"><h6><i class="fa-solid fa-phone"></i>CONTACT</h6>
    
    <div class="sub">London</div>
    <div class="sub">United Kingdom</div>
    <div class="sub">(+0084) 912-3548-073</div>

  </div>
  <div class="icons">
    <i class="fab fa-facebook-f five" title="Facebook"></i>
    <i class="fab fa-twitter six" title="Twitter"></i>
    <i class="fab fa-instagram seven" title="Instagram"></i>
  </div>
  <div class="f2"><h6 ><i class="fa-solid fa-link"></i>QUICK LINKS</h6>
      <div class="sub">Works</div>
      <div class="sub">Afiliate</div>
      <div class="sub">Shop</div>
      <div class="sub">Partners</div>
      <div class="sub">field</div>
  </div>
  <div class="f2"><h6 ><i class="fa-solid fa-hand-holding-hand"></i>HELP CENTER</h6>
      <div class="sub">FAQs</div>
      <div class="sub">Terms & Conditions</div>
      <div class="sub">Priavcy Policy</div>
      <div class="sub">Help</div>
      <div class="sub">Services</div>
  </div>
  <div class="f2"><h6 ><i class="fa-solid fa-location-dot"></i>LOCATION</h6>
    <div class="sub">17 Princess Road,</div>
    <div class="sub">Greater London,</div>
    <div class="sub">United Kingdom.</div>
    <div class="sub">hello@interstudio.co</div>
    <div class="sub">(+0084) 9892-0928-2029</div>
    </div>

</footer>

<!-- </div> -->
